#box{
    width: 500px;
    height: 400px;
    border: 5px solid black;
    margin: 50px auto;
    position: relative;
}
#square{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    border: 3px solid black;
    top: 175px;
    left: 225px;
}